/*Proxer Essentials Framework*/

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.floatLeft {
    float: left;
}

/* Settings */

.modulBox {
    width: 30%;
    border-width: 1px;
    margin: 1%;
    padding: 5px;
}

.status {
    margin-right: 1em;
    float: right;
}

.off {
    opacity: 0.5;
}

.version {
    padding-top: 1.2em;
    margin-left: 1em;
}

.description {
    margin-left: 0.5em;
    margin-top: 0.7em;
}

.autor {
    float: left;
    margin-left: 1.5em;
    margin-top: 0.6em;
}

/* Dialog */

.dialogOverlay {
    display: block;
    background-color: #A2A4A8;
    opacity: 0.6;
    height: -webkit-fill-available;
}

.dialogBox {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.dialogOk {
    margin-top: 10px;
}

.dialogYesNo {
    margin-top: 10px;
    text-align: right;
    padding-right: 30px;
}

.dialogButtonNo {
    margin-left: 30px;
}

/* Modules */
/* smallWonders */

.backToTop {
    position:fixed;
    right:210px;
    bottom:20px;
    display:none;
}

.backToTop:hover {
    right:206px;
    bottom:10px;
}

/* Fullscreen Manga*/

:fullscreen {
    overflow-y:auto;
}

.openFullscreen {
    position:fixed;
    right:240px;
    top:60px;
}

.exitFullscreen {
    position: fixed;
    right: 100px;
    top: 30px;
}
