.modulBox {
    width: 30%;
    border-width: 1px;
    float: left;
    margin: 1%;
    padding: 5px;
}

.modulEnd {
    margin: 1%;
    clear: both;
}

.center {
    text-align: center;
}

.clickImg20 {
    margin-left: 1em;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.clickImg30 {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.dialogOverlay {
    display: block;
    background-color: #A2A4A8;
    opacity: 0.6;
    height: -webkit-fill-available;
}

.dialogBox {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.marginTop10 {
    margin-top: 10px;
}

.marginLeft30 {
    margin-left: 30px;
}

.leanRight {
    text-align: right;
    padding-right: 30px;
}

.imgTick {
    content:url(GM_getResourceURL("haken_img"));
}

.imgCross {
    content:url(GM_getResourceURL("kreuz_img"));
}
