/*Proxer Essentials Framework*/

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.floatLeft {
    float: left;
}

/* Settings */

.version {
    padding-top: 1.3em;
    margin-left: 1em;
}

.modulBox {
    width: 30%;
    border-width: 1px;
    margin: 1%;
    padding-left: 1em;
    border-radius: 10px;
    transition: all ease 0.8s;
    opacity: 0.5;
}

.modulBox i {
    margin-right: 0.7em;
    margin-bottom: 0.2em;
    float: right;
}

.modulBox i::before{
    content: "\f204";
}

.modulBox i:hover {
    color: #ef394a;
}

.modulBox.active {
    opacity: 1;
    background: #3b3c3e;
}

.modulBox.active:hover {
    background: #505050;
    color: #fff;
}

.modulBox.active h3 {
    transition: all ease 0.8s;
    color: #ef394a;
}

.modulBox.active:hover h3 {
    color: #fff;
}

.modulBox.active i {
    opacity: 0.7;
}

.modulBox.active i::before{
    content: "\f205";
}

.autor {
    float: left;
    margin-left: 0.4em;
    margin-top: 0.3em;
}

/* Dialog */

.dialogOverlay {
    display: block;
    background-color: #A2A4A8;
    opacity: 0.6;
    height: -webkit-fill-available;
}

.dialogBox {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.dialogOk {
    margin-top: 10px;
}

.dialogYesNo {
    margin-top: 10px;
    text-align: right;
    padding-right: 30px;
}

.dialogButtonNo {
    margin-left: 30px;
}

/* Modules */
/* smallWonders */

.backToTop {
    position: fixed;
    top: 80%;
    right: 14%;
    display:none;
}

.backToTop:hover {
    transition: all ease 0.8s;
    color: #ef394a;
}

/* Fullscreen Manga*/

:fullscreen {
    overflow-y:auto;
}

.openFullscreen {
    position:fixed;
    right:240px;
    top:60px;
}

.exitFullscreen {
    position: fixed;
    right: 100px;
    top: 30px;
}
