/* Theatermodus */
.toggleTheater {
    position: fixed;
    top: 10%;
    right: 14%;
    z-index: 2;
}

.toggleTheater:hover {
    transition: all ease 0.8s;
    color: var(--accent-color);
}

.theaterActive {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: 1
}

/* Ignore User */
#pefIgnoreUser {
    background-color: var(--main-bg-color);
    border-radius: 5px !important;
    color: #fff !important;
    margin-left: 0.5em
}

#pefIgnoreUser:hover {
    text-decoration: underline;
}

.ignoredComment {
    text-align: center;
    border-top: 1px solid var(--accent-color);
    padding-top: 0.5em;
    color: var(--text-color);
}

/* Manga Comfort */

.previousChapter {
    position: fixed;
    bottom: 125px;
    right: 87px;

}

.nextChapter {
    position: fixed;
    bottom: 125px;
    right: 36px;
}

.bookmark {
    position: fixed;
    bottom: 100px;
    right: 62px;
}

.previousChapter:hover,
.nextChapter:hover,
.bookmark:hover {
    transition: all ease 0.8s;
    color: var(--accent-color);
}

/* picTile */

#pefViewControl {
    width: 55% !important;
    padding-top: 1em;
}

.acc {
    display:block !important;
    cursor: pointer;
}

.picTopBorder {
    border-color: #656565;
    border-width: 6px 0 0;
    border-style: solid;
}

.grayout {
    filter: grayscale(70%);
    opacity: 0.6;
}

.tile,
#nav .tile {
    position: relative;
    margin: 0 5px 5px;
    float: left;
    margin-bottom: 0.7em;
    transition: color 0.8s ease;
    color:  var(--text-color);
}

.tile.sizeBig {
    height: 280px;
    width: 200px;
}

.tile.sizeSmall {
    height: 170px;
    width: 120px;
}

.tile:hover,
#nav .tile:hover {
    color: var(--highlight-text-color);
}

.tilePic {
    height: 100%;
    width: 100%;
    float: left;
}

.tileText {
    position: absolute;
    background-color: var(--main-bg-color);
    width: 100%;
    padding: 0 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.tileBottom {
    bottom: 0;
}

#notificationBubble.miscNav.redesign {
    position: fixed;
    top: 40px;
    right: 0;
    bottom: 0;
    width: 30%;
    margin-top: 0;
    padding-left: 0.5em;
    background-color: var(--bg-color);
    overflow-y: auto;
}
