.backToTop {
    position: fixed;
    bottom: 154px;
    right: 57px;
    display:none;
}

.backToTop:hover {
    transition: all ease 0.8s;
    color: var(--accent-color);
}

/* hide cookie warning */
.cc_banner-wrapper,
/* hide 'Abonnieren' button on /info site */
a.menu.entry_subscribe,
/* hide social media */
li.facebook,
li.twitter,
li.whatsapp,
li.googleplus,
li.tumblr,
li.googleplus + li.info,
/* hide friend-requrest icon (top right) */
#requestNav,
/* hide news icon (top right) */
#newsNav,
/* hide chat */
#chatapp_sidebar,
#chatapp_toggle,
.chatapp_room
{
    display: none !important;
}
