@font-face {
    font-family: "Segeo UI Light";
    src: url("https://raw.githubusercontent.com/Blue-Reaper/Proxer-Essentials/master/src/framework/img/segoe-ui-webfont.woff") format('woff');
    font-weight: Lighter;
}

@keyframes pound {
	to { transform: scale(1.4); }
}

:root {
    /* hard coded colors only for specific elements */
    --green: #30E864;
    --darkgreen: #009933;
    --yellow: #F3E044;
    --orange: #F1880D;
    --red: #ef394a;
    --grey: #909090;
    --blue: #12BFF9;
    --darkblue: #000066;

    /* all used colors:
    #ccc
    #BFC3C6
    #999999
    #a7a7a7
    #808080
    #777777
    #4a4a4a
    #222327
    #1b1b1b
    #000
    #7F7
    #F77
    #5388B4 */
}

.green {
    color: var(--green);
}
.yellow {
    color:var(--yellow);
}
.orange {
    color: var(--orange);
}
.red {
    color: var(--red);
}
.grey {
    color: var(--grey);
}
.blue {
    color: var(--blue);
}

body {
    font-size: 1.05em;
    color:  var(--text-color);
    font-family: "Segoe UI Light", sans-serif !important;
    font-weight: lighter !important;
    font-variant: normal;
    background:  var(--bg1-color) !important;

}

.calendarHeadNav table {
    background-color:  var(--bg1-color);
    border-radius: 0;
    border: 0;
}

h1 {
    font-family: "Segoe UI Light", sans-serif;
    font-weight: lighter;
    color:  var(--accent-color);
}

.headDate {
    border-color:  var(--bg1-color);
}

ul#simple-navi li,
ul#simple-navi-wiki li {
    margin: 0;

}

.details td {
    background-color:  var(--bg2-color);
}

#notificationBubble,
#loginBubble,
.customBubble,
.pointerBubble {
    border-radius: 0;


}

hr {
    display: none;
}

a:hover {
    color:  var(--accent-color);
}

h3 {
    color:  var(--highlight-text-color);
    font-weight: lighter;
}

a {
    color:  var(--link-color);
    transition: color 0.7s;
}

ul#simple-navi li.active a {
    color:  var(--accent-color);
    background: transparent;
    border-bottom: 1px  var(--accent-color) solid;
}

ul#simple-navi li a,
ul#simple-navi-wiki li.active a,
ul#simple-navi-wiki li a.active,
ul#simple-navi-wiki li a:hover {
    background: transparent;
    color: var(--text-color);
    border-bottom: 1px var(--text-color) solid;
    font-weight: lighter;
    transition: color 1s ease, border 1s ease;
}

ul#simple-navi-wiki li a,
ul#simple-navi li a.active,
ul#simple-navi li a:hover {
    transition: color 1s ease, border 1s ease;
    color:  var(--highlight-text-color);
    background: transparent;
    border-bottom: 1px  var(--highlight-text-color) solid;
}

#nav {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));;
    border-bottom: 0px;
}

#nav ul{
    height:inherit;
}

#wrapper {
    background-position-x: 55%;
    background-size: 110%;
    max-width: none !important;
    background-position-y: 0;
    background-attachment: fixed;
    width: 100% !important;
}

ul#simple-navi,
ul#simple-navi-wiki {

    border-radius: 0;
    background-color:  var(--bg2-color);
    border: 0;

    margin-left: 5px;
    margin-right: 20px;
}

#main {
    margin-top: 25%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 5vh;
    border-radius: 0;
    background-color:  var(--bg2-color);
    border: 0;
}

.topmenu ul {
    background:  var(--bg2-color);
    opacity: 0.9;
    border: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.topmenu>ul>li:hover {
    background:  var(--accent-color);
}

.colorbox {
    display: none;
}

a.menu {
    border: 0px solid  var(--button-color);
    background:  var(--button-color);
    border-radius: 0;
    color:  var(--link-color);
    transition: background ease 0.8s, color ease 0.8s;
}

a.menu.active,
a.menu:hover {
    background:  var(--accent-color) !important;
    color: var(--highlight-text-color) !important;
}

.infocell>div {
    float: left;
    width: 150px;
    border: 0;
    padding: 10px;
}

.infocell {
    border-color: #656565;
    transition: background 0.8s ease, color 0.8s ease;
}

.infocell:hover {
    background:  var(--button-color);
    color:  var(--highlight-text-color);
}

.infocell:hover a {
    color:  var(--highlight-text-color);
}

.navlogo {
    background-image: url(https://raw.githubusercontent.com/Blue-Reaper/Proxer-Essentials/master/src/framework/img/logo_proxer.png) !important;
}

*:focus {
    outline: none;
}

select {
    font-family: "Segoe UI Light", sans-serif;
    font-size: 0.8em !important;
    font-weight: lighter;
    background:  var(--bg1-color);
    color:  var(--highlight-text-color);
    border: 1px solid  var(--button-color);
    padding: 4px 7px;
}

input[type=text] {
    font-family: "Segoe UI Light", sans-serif;
    padding: 4px 7px;
    background:  var(--bg1-color);
    color:  var(--highlight-text-color);
    border: 1px solid  var(--button-color);
}

input[type=password] {
    font-family: "Segoe UI Light", sans-serif;
    padding: 4px 7px;
    background:  var(--bg1-color);
    color:  var(--highlight-text-color);
    border: 1px solid  var(--button-color);
}

input[type=submit] {
    font-family: "Segoe UI Light", sans-serif;
    cursor: pointer;
    padding: 4px 15px;
    background:  var(--accent-color);
    color:  var(--highlight-text-color);
    border: 0;
    transition: all ease 0.5s;
}

input[type=button] {
    font-family: "Segoe UI Light", sans-serif;
    cursor: pointer;
    padding: 4px 15px;
    border: 0;
    background:  var(--accent-color);
    border-radius: 0;
    color:  var(--highlight-text-color);
    transition: all ease 0.5s;
}

input[type="radio"] {
    -webkit-appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background:  var(--bg1-color);
    border-radius: 50%;
}

input[type="radio"]:checked {
    background:  var(--accent-color);
    border: 2px solid  var(--bg1-color);
}

input[type="radio"]:hover {
    border: 1px solid  var(--accent-color);
}

input[type="radio"]:hover:checked {
    border: 2px solid  var(--accent-color);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    background:  var(--bg1-color);
}

input[type="checkbox"]:checked {
    background-image:url('https://raw.githubusercontent.com/Blue-Reaper/Proxer-Essentials/master/src/framework/img/proxer-checkbox-checked.png');
    background-position: center;
}

input[type="checkbox"]:hover {
    border: 1px solid  var(--accent-color);
}

input[type=submit]:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

input[type=button]:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

textarea {
    background:  var(--bg2-color);
    border: 1px solid  var(--button-color);
    color: var(--highlight-text-color);
}

.ui-tooltip {
    background:  var(--bg2-color);
    border: 0;
    font-family: "Segoe UI Light", sans-serif !important;
    color: var(--highlight-text-color);
    font-weight: lighter;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border-radius: 0;
}

.message {
    background:  var(--bg2-color) !important;
    border: 0 !important;
    color: var(--highlight-text-color) !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2) !important;
    border-radius: 0 !important;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #999999;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999999;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999999;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999999;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #999999;
}

#notificationBubble {
    border-radius: 3px;
    background:  var(--bg2-color);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border: 0;
}

.searchNav {
    width: 39% !important;
}

.hreview-aggregate>span {
    text-align: center;
    font-size: 1.8em !important;
    color:  var(--accent-color);
}


#forum_left {
    float: none !important;
    display: block !important;
}

#forum_main {
    float: none !important;
}

#loginNav img {
    width: 25px;
    border-radius: 100%;
}

#loginBubble img {
    margin: 1vh 0;
    border-radius: 100%;
}

#loginBubble {
    background:  var(--bg2-color);
    text-shadow: none !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border: 0;
    color: var(--text-color);
}

.news {
    border-top: 3px solid #292929;
}

.profile td {
    border: 0;
}

.profile font {
    background-color: transparent !important;
}

.inner>table>tbody>tr>td>img {
    border-radius: 100%;
    width: 50%;
}

#box-table-a th {
    font-size: 17px;
    background:  var(--bg2-color);
    font-variant: normal;
    font-weight: normal;
    border-bottom: 1px solid #1b1b1b;
}

#box-table-a td {
    transition: background ease 0.8s, color ease 0.8s;
    color: var(--text-color);
    border-bottom: 1px solid #1b1b1b;
    background:  var(--bg2-color);
}

#box-table-a tr {
    border: 0;
}

#box-table-a tr:hover td {
    background: var(--button-color);
    color:  var(--accent-color);
}

#box-table-a tr:hover a {
    color:  var(--accent-color);
}

.borderLeft {
    border: 0;
}

.pInfo {
    border: 0px solid;
    background-color: #777777;
    color:  var(--highlight-text-color);
}

#main>div {
    margin: auto;
}

.flag {
    border-radius: 0 !important;
    width: auto !important;
}

.infocell a {
    color:  var(--link-color);
}

#chat {
    color: var(--highlight-text-color);
    background: var(--button-color);
    border-radius: 0;
    border: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#loading {
    animation: pound .7s infinite alternate;
    background: var(--bg1-color);
    background-image: url(https://raw.githubusercontent.com/Blue-Reaper/Proxer-Essentials/master/src/framework/img/proxer_big.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30vh;
    border: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    opacity: 0.97;
    margin-left: 0;
    margin-top: 0;
    position: fixed;
    box-shadow: none;
}

.external_player {
    width: 728px !important;
    background-image: url(https://raw.githubusercontent.com/Blue-Reaper/Proxer-Essentials/master/src/framework/img/player_proxer.png);
}

.external_player:hover {
    background-image: url(https://raw.githubusercontent.com/Blue-Reaper/Proxer-Essentials/master/src/framework/img/player_proxer_hover.png);
}

textarea:focus,
input:focus {
    outline: none;
}

.proxerSliderImage {
    border: 0 !important;
}

.news_image {
    margin-top: 1vh;
    border-radius: 8px;
}

.countNav {
    background:  var(--accent-color);
    right: 10px;
    left: unset;
}

#notificationBubble,
#loginBubble,
.customBubble,
.pointerBubble {
    text-shadow: none;
}

#headerInfo {
    border-radius: 0;
    top: 80px;
    background: var(--bg1-color);
    border: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#headerInfo:before {
    font-family: "Segeo UI", sans-serif !important;
    content: "i" !important;
}

.proxerSliderBlack {
    color:  var(--accent-color) !important;
    background-color: rgba(45, 47, 51, 0.88) !important;
}

#arrowleft {
    transition: background 0.8s;
    background-image: url(https://raw.githubusercontent.com/Blue-Reaper/Proxer-Essentials/master/src/framework/img/proxerSliderArrow.png) !important;
}

#arrowright {
    transition: background 0.8s;
    background-image: url(https://raw.githubusercontent.com/Blue-Reaper/Proxer-Essentials/master/src/framework/img/proxerSliderArrow.png) !important;
}

#arrowleft:hover {
    background-image: url(https://raw.githubusercontent.com/Blue-Reaper/Proxer-Essentials/master/src/framework/img/proxerSliderArrowHover.png) !important;
}

#arrowright:hover {
    background-image: url(https://raw.githubusercontent.com/Blue-Reaper/Proxer-Essentials/master/src/framework/img/proxerSliderArrowHover.png) !important;
}

#notificationBubble:after,
#loginBubble:after,
.pointerBubble:after {
    border-color:  var(--bg2-color) transparent;
}

#simple-navi {
    margin-left: 20% !important;
    width: 60% !important;
}

#proxerSearch1,
#submitSearch1 {
    margin-top: 8px !important;
}

.smallImg{
    font-size: 15px;
}

.normalImg{
    font-size: 20px;
}

.bigImg{
    font-size: 30px;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-youtube-square,
.fa-google-plus-square,
.fa-amazon {
    font-size: 32px;
}

th[style~="color:#EEEE33;"] {
    color:  var(--accent-color) !important;
}

input[placeholder~="Freitextsuche"] {
    width: 93% !important;
}

input[placeholder~="Suche"] {
    width: 93% !important;
}


.fastSearchEntry {
    color: var(--highlight-text-color);
    background:  var(--bg1-color);
    border: 0;
}

.fastSearchEntry:hover {
    border: 0;
}

.checkYes {
    padding: 2px;
    background-color:  var(--bg2-color);
    border-left: 2px solid #7F7;
    opacity: 0.8;
    display: none;
    float:left;
}

.checkNo {
    padding: 2px;
    background-color:  var(--bg2-color);
    border-left: 2px solid #F77;
    opacity: 0.8;
    display: none;
    float:left;
}

/* Scrollbar for Firefox */
* {
    scrollbar-color:var(--accent-color) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 0.6em;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
}

.chatapp_roomtextfield {
    width: 250px;
    border-top: 1px solid  var(--accent-color);
    margin: 0;
    height: 30px;
    font-family: "Segoe UI Light", sans-serif;
    max-width: 95%;
    min-width: 95%;
    min-height: 5vh;
    max-height: 25vh;
}

.chatapp_roomtitle {
    background:  var(--bg1-color);
    border-bottom: 0px solid;
    border-color:  var(--bg1-color);
    color:  var(--accent-color);
}

#chatapp_sidebar {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border-left: 0px solid;
    border-color:  var(--accent-color);
    background-color:  var(--bg1-color);
}

.chatapp_room {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border: 0px solid;
    background-color: var(--bg2-color);
    z-index: 999;
}

#chat {
    display: none;
}

#chatapp_toggle {
    width: auto;
    border: 0px solid;
    border-color: #777777;
    background-color:  var(--bg1-color);
    color:  var(--accent-color);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#chatapp_sidebarrooms li.chatapp_roomhead {
    color:  var(--accent-color);
}

#chatapp_sidebarclose {
    border-top: 1px solid;
    border-color:  var(--accent-color);
}

.chatapp_messageitem {
    clear: both;
    min-height: 50px;
    padding: 5px;
    border-bottom: 2px solid var(--bg1-color);
    transition: background ease 0.8s;
}

.chatapp_messageitem:hover {
    background: var(--button-color);
}

.fa-warning:before,
.fa-exclamation-triangle:before {
    color:  var(--accent-color);
}

.calendarTable {
    border-top: 3px solid #1b1b1b;
    margin-top: 10px;
}

input#submitSearch0 {
    font-size: 0.9em !important;
    top: 11%;
    left: 85%;
    position: absolute;
}

#loginNav.notLoggedIn {
    background-image: url(https://raw.githubusercontent.com/Blue-Reaper/Proxer-Essentials/master/src/framework/img/login.png) !important;
    background-size: 30px 30px;
}

/* Genre Tooltip */
#genreBubble {
    background:  var(--bg2-color);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border: 0;
}

/* fix Impressum */
img[src="/images/misc/miau.png"] {
    width: initial !important;
    border-radius: 0 !important;
}

/* FORUM */

#kunena {
    background:  var(--bg2-color);
    width: 99vw !important;
}

#kunena.layout #ktop {
    background-color:  var(--bg1-color) !important;
    border: 0 !important;
}

.layout#kunena #ktab a {
    background-color:  var(--bg1-color) !important;
}

.layout#kunena #ktab ul.menu li.active a,
.layout#kunena #ktab li#current.selected a {
    background-color:  var(--bg2-color) !important;
}

#kunena.layout .kforum-pathway {
    background-color:  var(--bg2-color) !important;
    border: 0 !important;
}

.layout#kunena a:link,
.layout#kunena a:visited,
.layout#kunena a:active {
    color:  var(--accent-color) !important;
}

.layout#kunena div.kannouncement div.kheader {
    background:  var(--accent-color) !important;
}

.layout#kunena div#kannouncement .kanndesc {
    background:  var(--bg2-color) !important;
    color:  var(--text-color);
}

#kunena.layout div.kblock div.kbody {
    border: 0 !important;
}

#kunena.layout select,
#kunena.layout select:focus,
#kunena.layout select:hover {
    color:  var(--highlight-text-color);
    border: 1px solid #BFC3C6;
    padding: 0;
}

#kunena.layout option,
#kunena.layout option:focus,
#kunena.layout option:active,
#kunena.layout option:hover {
    color:  var(--highlight-text-color);
    background: none repeat scroll 0 0;
    font-size: .917em;
    padding: 0 10px 0 2px;
}

#kunena.layout .klist-markallcatsread {
    background-color:  var(--bg2-color) !important;
    min-height: 27px;
    overflow: hidden;
    border: 0;
    padding: 0;
}

#kunena.layout .button,
#kunena.layout .kbutton {
    background-color:  var(--bg1-color) !important;
    color:  var(--highlight-text-color) !important;
    font-size: .917em;
    border: 1px solid #4a4a4a !important;
    margin-right: 10px;
    padding: 0 4px;
}

.layout#kunena div.kblock>div.kheader,
.layout#kunena .kblock div.kheader {
    background:  var(--accent-color) !important;
}

tr.krow2.krow2 {
    background:  var(--bg2-color) !important;
}

#kunena.layout tr.krow1 td {
    background-color:  var(--bg1-color) !important;
}

#kunena.layout div.kblock {
    background-color:  var(--bg2-color) !important;
    border: 0 !important;
}

#kunena.layout td.kcol-mid,
#kunena.layout td.kcol-last {
    border-left: 0px solid #bfc3c6 !important;
    border-bottom: 1px solid  var(--bg1-color) !important;
}

#kunena.layout td.kcol-first {
    border-left: none;
    border-bottom: 1px solid  var(--bg1-color) !important;
}

#kunena.layout div.kthead-child {
    border-top: 1px solid  var(--accent-color);
}

#kunena.layout .kcontenttablespacer {
    border-bottom: 0 !important;
}

#kunena.layout .krow2-stickymsg {
    background-color: #222327 !important;
}

#kunena.layout .krow1-stickymsg {
    background-color: #1d1f21 !important;
}

#kunena.layout .klist-actions {
    background-color:  var(--bg2-color) !important;
    color:  var(--highlight-text-color);
    border: 0 !important;
}

#kunena.layout .kpagination a {
    background-color:  var(--bg1-color) !important;
    border: 1px solid  var(--bg1-color) !important;
}

#kunena.layout .kpagination span {
    border: 1px solid  var(--accent-color) !important;
    background-color:  var(--accent-color) !important;
}

#kunena.layout .klist-actions-goto {
    border-right: 0px solid #ccc;
}

#kunena.layout .klist-actions-forum {
    border-left: 0px solid #BFC3C6;
}

#kunena.layout .klist-pages-all {
    border-left: 0px solid #BFC3C6;
}

#kunena.layout #btn_unfavorite,
#kunena.layout #btn_favorite,
#kunena.layout #btn_unsubscribe,
#kunena.layout #btn_subscribe {
    background-color:  var(--accent-color) !important;
}

#kunena.layout #btn_thankyou,
#kunena.layout #btn_unthankyou,
#kunena.layout #btn_list,
#kunena.layout .klist-actions .btn,
#kunena.layout .kmessage-left .btn,
#kunena.layout #topic-actions .btn,
#kunena.layout .kmessage-buttons-row .btn {
    background-color:  var(--bg1-color);
}

.layout#kunena #ktab a:hover {
    background-color:  var(--accent-color) !important;
}

#kunena.layout .kpagination a:hover {
    color:  var(--highlight-text-color) !important;
    background-color:  var(--accent-color) !important;
    border: 1px solid #5388B4;
}

#kunena.layout .ktopactions,
#kunena.layout .kpost-profile .img-polaroid {
    border: 0 !important;
}

#kunena.layout .kspoiler-wrapper {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    min-height: 5px;
    width: 100%;
    background-color:  var(--bg1-color) !important;
}

#kunena.layout td.kprofile-left {
    background-color:  var(--bg1-color) !important;
    border-right: 0px solid #BFC3C6;
}

#kunena.layout div.kmsg-header h2 {
    background-color: #1c1d1f !important;
}

#kunena.layout h1,
#kunena.layout h2,
#kunena.layout h3,
#kunena.layout h4 {
    color:  var(--highlight-text-color);
}

#kunena.layout div.kmsgsignature {
    border-top: 1px solid  var(--accent-color);
}

#kunena.layout div.kmessage-editmarkup-cover {
    border-bottom: 1px solid  var(--accent-color);
}

#kunena.layout div.kmessage-thankyou {
    border-top: 1px solid  var(--accent-color);
}

#kunena.layout span.kmessage-editmarkup {
    background:  var(--bg1-color) no-repeat left center;
    border-top: 1px solid  var(--bg1-color);
    border-right: 1px solid  var(--bg1-color);
    border-left: 1px solid  var(--bg1-color);
}

#kunena.layout span.kmessage-informmarkup {
    background:  var(--bg1-color) no-repeat left center;
    border-top: 1px solid  var(--bg1-color);
    border-right: 1px solid  var(--bg1-color);
    border-left: 1px solid  var(--bg1-color);
}

#kunena.layout .kspoiler-title,
#kunena.layout div#ksearchresult span.kmsgtitle a,
#kunena.layout div.kthead-desc a,
#kunena.layout ul#kstatslistright li strong a,
#kunena.layout li.usertype {
    color: #a7a7a7;
}

#kunena.layout div.kmsgbody div.kmsgtext {
    color: #808080;
}

#kunena.layout .topic-list-tr {
    border-bottom: 0px solid #BFC3C6;
    border-top: 0px solid #BFC3C6;
}

#adventskalender {
    display: none;
}

#kunena.layout div.kmsgtext-article, #kunena.layout div.kmsgtext-quote, #kunena.layout div.kmsgtext-hide, #kunena.layout div.kmsgtext-confidential {
    background-color: var(--bg1-color) !important;
    border: 1px solid var(--bg1-color) !important;
}

.calendarHeadNav table {
    background-color: var(--bg1-color) !important;
    border: 1px solid var(--bg1-color) !important;
}

.calendarEntryList {
    background: var(--bg1-color);
    border: 1px solid var(--bg1-color);
}

.dayTable tr:nth-child(even) {
    background: var(--bg1-color);
}

.dayTable tr:nth-child(odd) {
    background: var(--bg2-color);
}

.calendarEntryList th {
    background: var(--bg1-color);
    border: 1px solid var(--bg1-color);
}

.today .dayTable tr:nth-child(odd) {
    background: var(--bg2-color) !important;
}

.today .dayTable tr:nth-child(even) {
    background: var(--bg1-color)!important;
}

.animeLink {
    color: var(--accent-color) !important;
}

#kunena.layout div.kmsgattach {
    border: 1px solid var(--accent-color) !important;
}

#kunena.layout #btn_sticky, #kunena.layout #btn_unsticky, #kunena.layout #btn_unlock, #kunena.layout #btn_lock, #kunena.layout #btn_moderate, #kunena.layout #btn_delete, #kunena.layout #btn_edit {
    background-color: var(--accent-color) !important;
}
