@font-face {
    font-family: "Segeo UI Light";
    src: url("https://logosart.de/proxer2-0/segoe-ui-webfont.woff") format('woff');
    font-weight: Lighter;
}

body {
    font-size: 1.05em;
    color: #909090;
    font-family: "Segoe UI Light", sans-serif !important;
    font-weight: lighter !important;
    font-variant: normal;
    background: #232428 !important;

}

.calendarHeadNav table {
    background-color: #232428;
    border-radius: 0;
    border: 0;
}

h1 {
    font-family: "Segoe UI Light", sans-serif;
    font-weight: lighter;
    color: #ef394a;
}

#headerInfo {
    border-radius: 0;
    border: 1px #232428 solid;
    background: transparent;
}

.headDate {
    border-color: #232428;
}

ul#simple-navi li,
ul#simple-navi-wiki li {
    margin: 0;

}

.details td {
    background-color: #2d2f33;
}

#notificationBubble,
#loginBubble,
.customBubble,
.pointerBubble {
    border-radius: 0;


}

hr {
    display: none;
}

a:hover {
    color: #ef394a;
}

h3 {
    color: #fff;
    font-weight: lighter;
}

a {
    color: #bdbdbd;
    transition: color 0.7s;
}

ul#simple-navi li.active a {
    color: #ef394a;
    background: transparent;
    border-bottom: 1px #ef394a solid;
}

ul#simple-navi li a,
ul#simple-navi-wiki li.active a,
ul#simple-navi-wiki li a.active,
ul#simple-navi-wiki li a:hover {
    background: transparent;
    color: #8f8f90;
    border-bottom: 1px #8f8f90 solid;
    font-weight: lighter;
    transition: color 1s ease, border 1s ease;
}

ul#simple-navi-wiki li a,
ul#simple-navi li a.active,
ul#simple-navi li a:hover {
    transition: color 1s ease, border 1s ease;
    color: #fff;
    background: transparent;
    border-bottom: 1px #fff solid;
}

#nav {
    background: url("https://logosart.de/proxer2-0/shade.png");
    height: 80px;
    border-bottom: 0px;
}

#wrapper {
    background-position-x: 55%;
    background-size: 110%;
    max-width: none !important;
    background-position-y: 0;
    background-attachment: fixed;
}

ul#simple-navi,
ul#simple-navi-wiki {

    border-radius: 0;
    background-color: #2d2f33;
    border: 0;

    margin-left: 5px;
    margin-right: 20px;
}

#main {
    margin-top: 25%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 5vh;
    border-radius: 0;
    background-color: #2d2f33;
    border: 0;
}

.topmenu ul {
    background: #2d2f33;
    opacity: 0.9;
    border: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.topmenu>ul>li:hover {
    background: #ea0b3f;
}

.colorbox {
    display: none;
}

a.menu {
    border: 0px solid #3e3e3e;
    background: #3e3e3e;
    border-radius: 0;
    color: #a0a0a0;
    transition: background ease 0.8s, color ease 0.8s;
}

a.menu.active,
a.menu:hover {
    background: #ef394a !important;
    color: #fafafa !important;
}

.infocell>div {
    float: left;
    width: 150px;
    border: 0;
    padding: 10px;
}

.infocell {
    cursor: pointer;
    border-color: #656565;
    transition: background 0.8s ease, color 0.8s ease;
}

.infocell:hover {
    background: #505050;
    color: #fff;
}

.infocell:hover a {
    color: #fff;
}

.navlogo {
    background-image: url(https://logosart.de/proxer2-0/logo_proxer.png) !important;
}

*:focus {
    outline: none;
}

select {
    font-family: "Segoe UI Light", sans-serif;
    font-size: 0.8em !important;
    font-weight: lighter;
    background: #232428;
    color: #fff;
    border: 1px solid #3e3e3e;
    padding: 4px 7px;
}

input[type=text] {
    font-family: "Segoe UI Light", sans-serif;
    padding: 4px 7px;
    background: #232428;
    color: #fff;
    border: 1px solid #3e3e3e;
}

input[type=password] {
    font-family: "Segoe UI Light", sans-serif;
    padding: 4px 7px;
    background: #232428;
    color: #fff;
    border: 1px solid #3e3e3e;
}

input[type=submit] {
    font-family: "Segoe UI Light", sans-serif;
    cursor: pointer;
    padding: 4px 15px;
    background: #ef394a;
    color: #fff;
    border: 0;
    transition: all ease 0.5s;
}

input[type=button] {
    font-family: "Segoe UI Light", sans-serif;
    cursor: pointer;
    padding: 4px 15px;
    border: 0;
    background: #ef394a;
    border-radius: 0;
    color: #fff;
    transition: all ease 0.5s;
}

input[type="radio"] {
    -webkit-appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: #232428;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background: #ef394a;
    border: 2px solid #232428;
}

input[type="radio"]:hover {
    border: 1px solid #ef394a;
}

input[type="radio"]:hover:checked {
    border: 2px solid #ef394a;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    background: #232428;
}

input[type="checkbox"]:checked {
    background-image:url('https://logosart.de/proxer2-0/proxer-checkbox-checked.png');
    background-position: center;
}

input[type="checkbox"]:hover {
    border: 1px solid #ef394a;
}

input[type=submit]:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

input[type=button]:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

textarea {
    background: #2d2f33;
    border: 1px solid #3e3e3e;
    color: #fafafa;
}

.ui-tooltip {
    background: #2d2f33;
    border: 0;
    font-family: "Segoe UI Light", sans-serif !important;
    color: #fafafa;
    font-weight: lighter;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border-radius: 0;
}

.message {
    background: #2d2f33 !important;
    border: 0 !important;
    color: #fafafa !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2) !important;
    border-radius: 0 !important;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #999999;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999999;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999999;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #999999;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #999999;
}

#notificationBubble {
    width: 39% !important;
    border-radius: 3px;
    background: #2d2f33;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border: 0;
}

#miscNav {
    background-image: url(https://logosart.de/proxer2-0/notification.png);
}

#requestNav {
    background-image: url(https://logosart.de/proxer2-0/friends.png);
}

#messageNav {
    background-image: url(https://logosart.de/proxer2-0/message.png);
}

#newsNav {
    background-image: url(https://logosart.de/proxer2-0/news.png);
}

#searchNav {
    background-image: url(https://logosart.de/proxer2-0/search.png);
}

.hreview-aggregate>span {
    text-align: center;
    font-size: 1.8em !important;
    color: #da0c44;
}


#forum_left {
    float: none !important;
    display: block !important;
}

#forum_main {
    float: none !important;
}

#loginNav img {
    width: 25px;
    border-radius: 100%;
}

#loginBubble img {
    margin: 1vh 0;
    border-radius: 100%;
}

#loginBubble {
    background: #2d2f33;
    text-shadow: none !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border: 0;
    color: #a2a2a2;
}

.news {
    border-top: 3px solid #292929;
}

.profile td {
    border: 0;
}

.profile font {
    background-color: transparent !important;
}

.inner>table>tbody>tr>td>img {
    border-radius: 100%;
    width: 50%;
}

#box-table-a th {
    font-size: 17px;
    background: #2d2f33;
    font-variant: normal;
    font-weight: normal;
    border-bottom: 1px solid #1b1b1b;
}

#box-table-a td {
    transition: background ease 0.8s, color ease 0.8s;
    color: #969696;
    border-bottom: 1px solid #1b1b1b;
    background: #2d2f33;
}

#box-table-a tr {
    border: 0;
}

#box-table-a tr:hover td {
    background: #3b3c3e;
    color: #ef394a;
}

#box-table-a tr:hover a {
    color: #ef394a;
}

.borderLeft {
    border: 0;
}

.pInfo {
    border: 0px solid;
    background-color: #777777;
    color: #FFF;
}

#main>div {
    width: 62%;
    margin: auto;
}

.flag {
    border-radius: 0 !important;
    width: auto !important;
}

.infocell a {
    color: #a9a9a9;
}

#chat {
    color: #fafafa;
    background: #3b3c3e;
    border-radius: 0;
    border: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#loading {
    background: #262626;
    background-image: url(https://logosart.de/proxer2-0/proxer-loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    border: 0;
    height: 100vh;
    z-index: 9999;
    opacity: 0.97;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    box-shadow: none;
}

.external_player {
    width: 728px !important;
    background-image: url(https://logosart.de/proxer2-0/player_proxer.png);
}

.external_player:hover {
    background-image: url(https://logosart.de/proxer2-0/player_proxer_hover.png);
}

textarea:focus,
input:focus {
    outline: none;
}

.proxerSliderImage {
    border: 0 !important;
}

.news_image {
    margin-top: 1vh;
    border-radius: 8px;
}

.countNav {
    background: #ef394a;
}

#notificationBubble,
#loginBubble,
.customBubble,
.pointerBubble {
    top: -40px;
    text-shadow: none;
}

#headerInfo {
    top: 80px;
    background: rgba(37, 37, 37, 0.74);
    border: 0;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#headerInfo:before {
    font-family: "Segeo UI", sans-serif !important;
    content: "i" !important;
}

.proxerSliderBlack {
    color: #ef394a !important;
    background-color: rgba(45, 47, 51, 0.88) !important;
}

#arrowleft {
    transition: background 0.8s;
    background-image: url(https://logosart.de/proxer2-0/proxerSliderArrow.png) !important;
}

#arrowright {
    transition: background 0.8s;
    background-image: url(https://logosart.de/proxer2-0/proxerSliderArrow.png) !important;
}

#arrowleft:hover {
    background-image: url(https://logosart.de/proxer2-0/proxerSliderArrowHover.png) !important;
}

#arrowright:hover {
    background-image: url(https://logosart.de/proxer2-0/proxerSliderArrowHover.png) !important;
}

#notificationBubble:after,
#loginBubble:after,
.pointerBubble:after {
    border-color: #2d2f33 transparent;
}

#simple-navi {
    margin-left: 20% !important;
    width: 60% !important;
}

#proxerSearch1,
#submitSearch1 {
    margin-top: 8px !important;
}

.smallImg{
    width: 15px !important;
    height: 15px !important;
}

.borderRadius6{
    border-radius: 6px;
}

th[style~="color:#EEEE33;"] {
    color: #ef394a !important;
}

input[placeholder~="Freitextsuche"] {
    width: 93% !important;
}

input[placeholder~="Suche"] {
    width: 93% !important;
}


.fastSearchEntry {
    color: #fafafa;
    background: #232428;
    border: 0;
}

.fastSearchEntry:hover {
    border: 0;
}

.checkYes {
    padding: 2px;
    background-color: #2d2f33;
    border-left: 2px solid #7F7;
    opacity: 0.8;
    display: none;
    float:left;
}

.checkNo {
    padding: 2px;
    background-color: #2d2f33;
    border-left: 2px solid #F77;
    opacity: 0.8;
    display: none;
    float:left;
}

.fa-list::before {
    content: "";
    font-weight: lighter;
}

.fa-th-large:before {
    content: "";
    font-weight: lighter;
}

/* Scrollbar for Firefox */
* {
    scrollbar-color:rgba(243, 56, 74, 0.93) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 0.6em;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(243, 56, 74, 0.93);
}

.chatapp_roomtextfield {
    width: 250px;
    border-top: 1px solid #e53749;
    margin: 0;
    height: 30px;
    font-family: "Segoe UI Light", sans-serif;
    max-width: 95%;
    min-width: 95%;
    min-height: 5vh;
    max-height: 25vh;
}

.chatapp_roomtitle {
    background: #232428;
    border-bottom: 0px solid;
    border-color: #232428;
    color: #e53749;
}

.chatapp_room {
    border: 0px solid;
    border-color: #777777;
    background-color: #5E5E5E;
    z-index: 999;
}

#chatapp_sidebar {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border-left: 0px solid;
    border-color: #e43748;
    background-color: #232428;
}

.chatapp_room {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border: 0px solid;
    border-color: #777777;
    background-color: #2d2f33;
    z-index: 999;
}

#chat {
    display: none;
}

#chatapp_toggle {
    width: auto;
    border: 0px solid;
    border-color: #777777;
    background-color: #232428;
    color: #e53749;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#chatapp_sidebarrooms li.chatapp_roomhead {
    color: #e53749;
}

#chatapp_sidebarclose {
    border-top: 1px solid;
    border-color: #e53749;
}

.chatapp_messageitem {
    clear: both;
    min-height: 50px;
    padding: 5px;
    border-bottom: 2px solid #212121;
    transition: background ease 0.8s;
}

.chatapp_messageitem:hover {
    background: #3b3c3e;
}

.fa-warning:before,
.fa-exclamation-triangle:before {
    color: #e53749;
}

.fa-arrows-alt:before {
    content: "";
    font-size: 0.9em;
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
    content: "\f057";
}

.calendarTable {
    border-top: 3px solid #1b1b1b;
    margin-top: 10px;
}

input#submitSearch0 {
    font-size: 0.9em !important;
    top: 11%;
    left: 85%;
    position: absolute;
}

#loginNav.notLoggedIn {
    background-image: url(https://logosart.de/proxer2-0/login.png) !important;
    background-size: 30px 30px;
}

/* Genre Tooltip */
#genreBubble {
    background: #2d2f33;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border: 0;
}

/* FORUM */

#kunena {
    background: #2d2f33;
    width: 99vw !important;
}

#kunena.layout #ktop {
    background-color: #232428 !important;
    border: 0 !important;
}

.layout#kunena #ktab a {
    background-color: #232428 !important;
}

.layout#kunena #ktab ul.menu li.active a,
.layout#kunena #ktab li#current.selected a {
    background-color: #2d2f33 !important;
}

#kunena.layout .kforum-pathway {
    background-color: #2d2f33 !important;
    border: 0 !important;
}

.layout#kunena a:link,
.layout#kunena a:visited,
.layout#kunena a:active {
    color: #e43748 !important;
}

.layout#kunena div.kannouncement div.kheader {
    background: #e43748 !important;
}

.layout#kunena div#kannouncement .kanndesc {
    background: #2d2f33 !important;
    color: #909090;
}

#kunena.layout div.kblock div.kbody {
    border: 0 !important;
}

#kunena.layout select,
#kunena.layout select:focus,
#kunena.layout select:hover {
    color: #fff;
    border: 1px solid #BFC3C6;
    padding: 0;
}

#kunena.layout option,
#kunena.layout option:focus,
#kunena.layout option:active,
#kunena.layout option:hover {
    color: #fff;
    background: none repeat scroll 0 0;
    font-size: .917em;
    padding: 0 10px 0 2px;
}

#kunena.layout .klist-markallcatsread {
    background-color: #2d2f33 !important;
    min-height: 27px;
    overflow: hidden;
    border: 0;
    padding: 0;
}

#kunena.layout .button,
#kunena.layout .kbutton {
    background-color: #232428 !important;
    color: #fff !important;
    font-size: .917em;
    border: 1px solid #4a4a4a !important;
    margin-right: 10px;
    padding: 0 4px;
}

.layout#kunena div.kblock>div.kheader,
.layout#kunena .kblock div.kheader {
    background: #e43748 !important;
}

tr.krow2.krow2 {
    background: #2d2f33 !important;
}

#kunena.layout tr.krow1 td {
    background-color: #232428 !important;
}

#kunena.layout div.kblock {
    background-color: #2d2f33 !important;
    border: 0 !important;
}

#kunena.layout td.kcol-mid,
#kunena.layout td.kcol-last {
    border-left: 0px solid #bfc3c6 !important;
    border-bottom: 1px solid #232428 !important;
}

#kunena.layout td.kcol-first {
    border-left: none;
    border-bottom: 1px solid #232428 !important;
}

#kunena.layout div.kthead-child {
    border-top: 1px solid #ef394a;
}

#kunena.layout .kcontenttablespacer {
    border-bottom: 0 !important;
}

#kunena.layout .krow2-stickymsg {
    background-color: #222327 !important;
}

#kunena.layout .krow1-stickymsg {
    background-color: #1d1f21 !important;
}

#kunena.layout .klist-actions {
    background-color: #2d2f33 !important;
    color: #fff;
    border: 0 !important;
}

#kunena.layout .kpagination a {
    background-color: #232428 !important;
    border: 1px solid #232428 !important;
}

#kunena.layout .kpagination span {
    border: 1px solid #e43748 !important;
    background-color: #e43748 !important;
}

#kunena.layout .klist-actions-goto {
    border-right: 0px solid #ccc;
}

#kunena.layout .klist-actions-forum {
    border-left: 0px solid #BFC3C6;
}

#kunena.layout .klist-pages-all {
    border-left: 0px solid #BFC3C6;
}

#kunena.layout #btn_unfavorite,
#kunena.layout #btn_favorite,
#kunena.layout #btn_unsubscribe,
#kunena.layout #btn_subscribe {
    background-color: #e43748 !important;
}

#kunena.layout #btn_thankyou,
#kunena.layout #btn_unthankyou,
#kunena.layout #btn_list,
#kunena.layout .klist-actions .btn,
#kunena.layout .kmessage-left .btn,
#kunena.layout #topic-actions .btn,
#kunena.layout .kmessage-buttons-row .btn {
    background-color: #232428;
}

.layout#kunena #ktab a:hover {
    background-color: #e43748 !important;
}

#kunena.layout .kpagination a:hover {
    color: #fff !important;
    background-color: #e43748 !important;
    border: 1px solid #5388B4;
}

#kunena.layout .ktopactions,
#kunena.layout .kpost-profile .img-polaroid {
    border: 0 !important;
}

#kunena.layout .kspoiler-wrapper {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    min-height: 5px;
    width: 100%;
    background-color: #232428 !important;
}

#kunena.layout td.kprofile-left {
    background-color: #232428 !important;
    border-right: 0px solid #BFC3C6;
}

#kunena.layout div.kmsg-header h2 {
    background-color: #1c1d1f !important;
}

#kunena.layout h1,
#kunena.layout h2,
#kunena.layout h3,
#kunena.layout h4 {
    color: #fff;
}

#kunena.layout div.kmsgsignature {
    border-top: 1px solid #e43748;
}

#kunena.layout div.kmessage-editmarkup-cover {
    border-bottom: 1px solid #e43748;
}

#kunena.layout div.kmessage-thankyou {
    border-top: 1px solid #e43748;
}

#kunena.layout span.kmessage-editmarkup {
    background: #232428 no-repeat left center;
    border-top: 1px solid #232428;
    border-right: 1px solid #232428;
    border-left: 1px solid #232428;
}

#kunena.layout span.kmessage-informmarkup {
    background: #232428 no-repeat left center;
    border-top: 1px solid #232428;
    border-right: 1px solid #232428;
    border-left: 1px solid #232428;
}

#kunena.layout .kspoiler-title,
#kunena.layout div#ksearchresult span.kmsgtitle a,
#kunena.layout div.kthead-desc a,
#kunena.layout ul#kstatslistright li strong a,
#kunena.layout li.usertype {
    color: #a7a7a7;
}

#kunena.layout div.kmsgbody div.kmsgtext {
    color: #808080;
}

#kunena.layout .topic-list-tr {
    border-bottom: 0px solid #BFC3C6;
    border-top: 0px solid #BFC3C6;
}

#adventskalender {
    display: none;
}
